[submodule "third-party/pytorch-cpp"]
	path = third-party/pytorch-cpp
	url = https://github.com/prabhuomkar/pytorch-cpp.git
[submodule "third-party/yolov7"]
	path = third-party/yolov7
	url = https://github.com/WongKinYiu/yolov7.git
